/* What we do */
#what-we-do {
  background: #fff;
  margin: 0;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
}

.information {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25rem;
  text-align: center;
}

.information-section {
  display: flex;
  flex-direction: column;
  align-items: flex;
  justify-content: center;
  margin: 30px auto;
}

.information h2 {
  margin-bottom: 40px;
}

.information-text {
  text-align: center;
  line-height: 1.6;
}

.services-what {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 150px 0;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
  width: 20%;
}

.service-card img {
  height: 50px;
  margin-bottom: 20px;
}

.service-card p,
.service-card img {
  padding: 5px;
}

.service-card h3 {
  text-align: justify;
  line-height: 1.6;
}
.service-card p {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
  text-align: center;
}