#contact-us {
  height: 100vh;
  padding: 20px;
}

#contact-us h2 {
  font-size: 3rem;
  margin: 50px 60px;
  
}

.contact-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 60%;
  width: 60%;
  margin: auto;
}

.contact-form label{
  display: flex;
  align-items: flex-start;
}

.contact-form input {
  padding: 15px;
  width: 70%;
  border-style: none none solid none;
  margin: 45px;
}

input::placeholder{
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

#submit-btn{
  margin-top: 40px;
}

button {
  background-color: #ff6565;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}