* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
} */

body,
html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* What we do */
#what-we-do {
  background: #fff;
  margin: 0;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.information-section {
padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  /* border: 1px solid black; */
  width: 50%;
}

.information-section h2 {
    margin-bottom: 20px;
}

.information-text {
  text-align: center;
  line-height: 1.6;
}

.services-what {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 150px 0;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
  width: 40%;
  opacity: 0.5;
  transition: all 400ms;
}

/* Service Card Animations */
.service-card:hover{
    opacity: 1.0;
    border: 1px solid #ff6565;
    background-color: #a8615f;
    border-radius: 5px;
    cursor: pointer;
    scale: 1.1;
}

.service-card img {
  height: 50px;
  margin-bottom: 20px;
}

.service-card p,
.service-card img {
  padding: 5px;
}

.service-card h3 {
  text-align: justify;
  line-height: 1.6;
}
.service-card p {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
  text-align: center;
}